body {
    background: #444444;
    font: 14px Trebuchet MS;
}
a {
    color: #333333;
}
a:hover {
    color: #FF9933;
}
#logo1 {
    height: 100px;
    width: 100%;
}
#logo2 {
    height: 200px;
    width: 100%;
}

.left {
    padding: 10px;
}
.article:hover {
    background: lightgrey;
}
.img_article {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px;
}
.article p {
    text-indent: 15px;
    padding-right: 10px;
    margin-top: 10px;
}
.title {
    text-decoration: none;
}
.right_menu {
    padding-top: 20px;
    text-align: center;
}
.right_menu a {
    display: block;
    margin-bottom: 10px;
}
.header .footer {
    border: 2px solid #000000;
}
.container {
    background-color: lightyellow;
}
.btn-default {
    margin-top: 20px;
}