<div class="article">
    <img class="img_article img-thumbnail" src="web/theme/images/images.jpg"/>
    <a class="title" href="#"><h2>%s</h2></a>
    <p>%s <a href="view.php?id=%s">Show full article</a></p>
    <div style="clear:both;"></div>
</div>